@mixin cardIconButton {
  background-color: Transparent;
  background-position: center;
  background-size: 3.4vw;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

@mixin cardContainer ($color, $gridArea) {
  background-color: $color;
  grid-area: $gridArea;
  margin: .5vw;
}
